@model ForgotPasswordViewModel
@{
    ViewData["Title"] = "ForgotPassword";
    Layout = "~/Views/Shared/Auth_Layout.cshtml";
}

<div>
    <div>
        <div>
            <div>
                <div>


                    <!-- /Logo -->
                    <h4 class="mb-2">Forgot Password? 🔒</h4>
                    <p class="mb-4">Enter your email and we'll send you instructions to reset your password</p>
                    <form class="mb-3"  asp-action="SendEmail">
                        <div class="mb-3">
                            <label for="email" class="form-label">Email</label>
                            <input type="text" asp-for="Email" class="form-control" placeholder="Enter your email" autofocus />
                        </div>
                        <input type="submit" class="btn btn-primary d-grid w-100" value="Send Reset Link" />
                    </form>
                    <div class="text-center">
                        <a asp-action="Login" class="d-flex align-items-center justify-content-center">
                            <i class="bx bx-chevron-left scaleX-n1-rtl bx-sm"></i>
                            Back to login
                        </a>
                    </div>
                </div>
          </div>
<!-- /Forgot Password -->
        </div>
      </div>
    </div>

<!-- / Content -->

<div class="buy-now">
    <a href="https://themeselection.com/products/sneat-bootstrap-html-admin-template/"
       target="_blank"
       class="btn btn-danger btn-buy-now">Upgrade to Pro</a>
</div>


@section MicrosoftValidationScript{
    <script src="~/libs/jquery-validate/jquery.validate.min.js"></script>
    <script src="~/libs/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}