@model ResetPasswordViewModel
@{
    ViewData["Title"] = "ResetPassword";
    Layout = "~/Views/Shared/Auth_Layout.cshtml";
}
<div class="main-agileinfo">
	<div class="agileits-top">
		<div asp-validation-summary="All" class="text-danger"></div>
		<form asp-action="ResetPassword">

			<input type="password"  class="btn btn-primary d-grid w-100" asp-for="NewPassword" placeholder="NewPassword">
			<span asp-validation-for="NewPassword" class="text-danger"></span>
			<br />
			<input type="password" class="btn btn-primary d-grid w-100" asp-for="ConfirmPassword" placeholder="ConfirmNewPassword">
			<span asp-validation-for="ConfirmPassword" class="text-danger"></span>
			<br />
			<input type="submit" value="Reset ">
		</form>


	</div>
</div>

@section MicrosoftValidationScript{
	<script src="~/jquery-validate/jquery.validate.min.js"></script>
	<script src="~/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}