@model EmployeeViewModel
@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    var departmentsName = new SelectList(@ViewBag.Departments, "Id", "Name", Model.DepartmentId);
}

<h1>Edit Employee</h1>

<form asp-action="Edit" enctype="multipart/form-data">
    <input asp-for="PhotoUrl" hidden />
    <div class="form-group">
        <label class="col-form-label" asp-for="Name"></label>
        <input class="form-control" type="text" asp-for="Name" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label class="col-form-label" asp-for="Age"></label>
        <input class="form-control" type="text" asp-for="Age" />
        <span asp-validation-for="Age" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label class="col-form-label" asp-for="Salary"></label>
        <input class="form-control" asp-for="Salary" />
        <span asp-validation-for="Salary" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label class="col-form-label" asp-for="Department"></label>
        <select asp-for="DepartmentId" class="form-control"
                asp-items="@departmentsName">
            <option>Chosse Employee </option>
        </select>
    </div>
    <div class="form-group">
        <label class="col-form-label" asp-for="Address"></label>
        <input class="form-control" asp-for="Address" />
        <span asp-validation-for="Address" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label class="col-form-label" asp-for="Email"></label>
        <input class="form-control" type="email" asp-for="Email" />
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label class="col-form-label" asp-for="Photo"></label>
        <input class="form-control" asp-for="Photo" />
    </div>
    <div class="form-group">
        <label class="col-form-label" asp-for="PhoneNumber"></label>
        <input class="form-control" asp-for="PhoneNumber" />
        <span asp-validation-for="PhoneNumber" class="text-danger"></span>
    </div>

    <div class="demo-checkbox">
        <input type="checkbox" asp-for="IsActive">
        <label asp-for="IsActive">IsActive</label>
        <span asp-validation-for="IsActive" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label class="col-form-label" asp-for="HireDate"></label>
        <input class="form-control" type="date" asp-for="HireDate" />
        <span asp-validation-for="HireDate" class="text-danger"></span>
    </div>

    <input type="submit" value="submit" class="btn btn-primary" />
    <a class="btn btn-dark" asp-action="Index"> back To list</a>
</form>

@section MicrosoftValidation{
    <script src="~/libs/jquery-validate/jquery.validate.min.js"></script>
    <script src="~/libs/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}