
@model RoleViewModel

<form method="post" class="row m-2" asp-action="Create">
    <div class="col-8">
        <input class="form-control"  placeholder="Create Role" asp-for="Name"  />
    </div>
    <div class="col-4">
        <input type="submit" class="btn btn-info" value="Add New Role"  />
    </div>
</form>