@model DepartmentViewModel
@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div asp-validation-summary="All"></div>

<form asp-action="Create">

    <partial name="PartialView/Create_EditPrtial" />

    <input type="submit" value="submit" class="btn btn-primary" />
    <a class="btn btn-dark" asp-action="Index"> back To list</a>
</form>

@section MicrosoftValidation{
    <script src="~/libs/jquery-validate/jquery.validate.min.js"></script>
    <script src="~/libs/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}
